.row{
    margin-left: 20px;
    color:#fff
}


.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in webkit-based browsers */
}

.poster{
    max-height: 250px;
    margin-right: 10px;
}

.smallposter{
    max-height:150px;
margin-right:10px

}

.poster:hover{
    transform: scale(1.1);
}
.smallposter:hover{
    transform: scale(1.1);
}
.youtube-player {
    position: relative;
    width: 100%;
    max-width: 640px; /* Optional: You can limit the max width if you want */
    margin: 0 auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
  }
  